#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: joselazarte
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDYD5NElZFj+ZRjx/O4xaYqtdO9hzSc9XBDI+zFuZctOQptxnmF7Gspf/rUhiN/Jzyw2eNzldd83kom63ORZ3DZCGTlN4zH3yP+ZklpdfGIPY2dODL+fRHPT1scUa5K3Yw8GBILnboFmYXxZbwOFhn0kitUexLtC0lrrUyOdLj8UYexZBHPJIdjTgdPXQbQA36ox0pHIGz2TsnBmV7VTAduWKV3onAgflBhYQhLAfaqn2VbD0FTxwelLNKh4/091KSmbLOlebnl8k/DlH+r4br2EFVtu62LeEDpAzrQSlKK8lX0nddNPmfcnDg4QN17nQy6GLrzMO9A2pHUArgVqDO7 joselazarte@joselazarte-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
